
@media screen and (min-width: 741px) and (max-width: 30024px) {
    

.container{
    /* background-color: red; */
    background-image: url("../../public/Imagens/windm\,ill\ \(2\).jpg");
    background-size: cover; /* Preenche a área e corta o que ultrapassa */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 110vh; /* Define altura da tela toda */
    width: 100%;
}

.logo{
    width: 7vw;
    height: 6vw;
    margin-left: 5vw;
    margin-top: 5vw;
}


.link{
    color: white;
    font-size: 2vw;
    text-decoration: none;
    margin-left: 2vw;
    position: relative;
    left: 15vw;
    top: -2vw;
    font-family: "Kodchasan", sans-serif;

}

.titulo
{
    color: #FFE976;
    font-family: "Kodchasan", sans-serif;
    width: 50%;
    font-size: 3vw;
    margin-top: 17vw;
    margin-left: 5vw;
}


.texto{
    color: white;
    font-family: "Kodchasan", sans-serif;
    margin-left: 5vw;
    font-size: 2.5vw;
    width: 40%;
    margin-top: 2vw;
}

.botao{
    background-color: white;
    font-size: 1.5vw;
    /* text-align: center; */
    text-decoration: none;
    color: #000;
    font-family: "Kodchasan", sans-serif;
    width: 30%;
    margin-left: 5VW;
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    top: 3vw;
    /* transition: background 1s ease; */
    /* transition: ease-in-out 5s; */

    background: #fff; /* cor inicial do fundo */
    background-size: 0% 100%; /* inicializa o fundo sem gradiente visível */
    transition: background-size 0.5s ease; /* transição gradual */
    border: 2px solid transparent; /* opcional: borda invisível, para evitar pulo do conteúdo */
}

.botao:hover{
    /* border: 0.3vw solid rgb(0, 221, 255); */
    /* background-color: rgb(0, 221, 255); */
    /* animation: 8i; */
    /* transform: rotate(); */
    
    background: linear-gradient(to right, #47BFDF, #4A91FF);
    background-size: 100% 100%; /* gradiente expandindo até o tamanho completo */
    color: #fff   ;
}

}